{% extends "base.html" %}

{% block content %}
<section>
<div class="container" style="width: 500px; margin-top: 100px; margin-bottom: 100px; background-color:#ccffcc; border-radius: 25px;">
   <div class="row"><p class="text-center">АДРЕСА</p></div>
   <div class="row"><p class="text-center">ул. Руѓер Бошковиќ 16, Пoштенски Фах 393,</p></div>
   <div class="row"><p class="text-center">1000, Скопје, Република Северна Македонија</p></div>
   <div class="row"><p class="text-center">КОНТАКТ:</p></div>
   <div class="row"><p class="text-center">contact@finki.ukim.mk</p></div>
</div>
</section>

{% endblock content %}